* {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.body {
  display: flex;
  gap: 50px;
  max-width: 100%;
}
